# Case Study on Measures of Central Tendency and Dispersion

In [1]:
#import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [2]:
#read the dataset
Students = pd.read_csv("StudentsPerformance.csv")
data = pd.DataFrame(Students)

In [3]:
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

# 1. Find out how many males and females participated in the test.

In [5]:
# to count males and females
data['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

# 2. What do you think about the students parental level of education.

In [8]:
# to count parental level education
data['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

# 3. Who scores the most on average for math, reading and writing based on

# a.Gender

In [9]:
# to calculate mean
data1=data.groupby('gender')['math score'].mean()
data1

gender
female    63.376448
male      68.821577
Name: math score, dtype: float64

In [10]:
data2=data.groupby('gender')['reading score'].mean()
data2

gender
female    72.590734
male      65.545643
Name: reading score, dtype: float64

In [11]:
data3=data.groupby('gender')['writing score'].mean()
data3

gender
female    72.467181
male      63.446058
Name: writing score, dtype: float64

# b.Test preparation course

In [12]:
data4=data.groupby('test preparation course')['math score'].mean()
data4

test preparation course
completed    69.96648
none         63.78972
Name: math score, dtype: float64

In [13]:
data5=data.groupby('test preparation course')['reading score'].mean()
data5

test preparation course
completed    74.175978
none         66.417445
Name: reading score, dtype: float64

In [16]:
data6=data.groupby('test preparation course')['writing score'].mean()
data6

test preparation course
completed    74.684358
none         64.457944
Name: writing score, dtype: float64

# 4. What do you think about the scoring variation for math, reading and writing based on

# a.Gender

In [17]:
data1=data.groupby('gender')['math score'].var()
data1

gender
female    256.958593
male      211.889097
Name: math score, dtype: float64

In [18]:
data2=data.groupby('gender')['reading score'].var()
data2

gender
female    207.677438
male      200.211010
Name: reading score, dtype: float64

In [19]:
data3=data.groupby('gender')['writing score'].var()
data3

gender
female    220.369327
male      202.413924
Name: writing score, dtype: float64

# b.Test preparation course

In [20]:
data4=data.groupby('test preparation course')['math score'].var()
data4

test preparation course
completed    210.884027
none         246.668662
Name: math score, dtype: float64

In [21]:
data5=data.groupby('test preparation course')['reading score'].var()
data5

test preparation course
completed    183.265864
none         213.419851
Name: reading score, dtype: float64

In [22]:
data6=data.groupby('test preparation course')['writing score'].var()
data6

test preparation course
completed    175.202612
none         226.251739
Name: writing score, dtype: float64

# 5. The management needs your help to give bonus points to the top 25% of students based on their maths score,so how will you help the management to achieve this.

In [23]:
# count of students on maths score
data['math score'].value_counts().sum()

1000

In [24]:
1000*(25/100)

250.0

In [28]:
# top 250 students comes top 25%
top25=data.sort_values(by=['math score'],ascending=False).head(250)
top25

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
999,male,group E,bachelor's degree,standard,completed,100,100,100
996,male,group A,some college,standard,completed,100,96,86
515,female,group E,some college,standard,none,100,92,97
517,female,group E,associate's degree,standard,none,100,100,100
516,female,group E,bachelor's degree,standard,none,100,100,100
...,...,...,...,...,...,...,...,...
856,male,group E,some high school,standard,completed,77,76,77
855,male,group E,associate's degree,free/reduced,completed,77,69,68
854,male,group D,some high school,standard,completed,77,68,69
853,male,group D,associate's degree,free/reduced,none,77,78,73
852,male,group D,some college,free/reduced,none,77,62,64