# Case Study on Testing of Hypothesis

In [27]:
# import libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats


import warnings
warnings.filterwarnings('ignore')

In [28]:
#read the dataset
data=pd.read_csv('Sales_add.csv')

In [29]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [30]:
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [31]:
#checking null value 
data.isnull().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

There are no null values in the dataset, hence it is clean.

In [32]:
# checking the columns and type
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [33]:
# checking for number of rows and columns
data.shape

(22, 5)

# 1. The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

In [34]:
before_add = data['Sales_before_digital_add(in $)']
after_add = data['Sales_After_digital_add(in $)']

In [35]:
before_add_mean = round(np.mean(before_add),2)
after_add_mean = round(np.mean(after_add),2)
print('Mean of sales before Digital Marketing =', before_add_mean)
print('Mean of sales after Digital Marketing = ', after_add_mean)

Mean of sales before Digital Marketing = 149239.95
Mean of sales after Digital Marketing =  231123.73

In [36]:
before_add_std = round(np.std(before_add),2)
after_add_std = round(np.std(after_add),2)
print('Standard Deviation in sales before Digital Marketing = ', before_add_std)
print('Standard Deviation in sales after Digital Marketing = ', after_add_std)

Standard Deviation in sales before Digital Marketing =  14502.75
Standard Deviation in sales after Digital Marketing =  24969.19

In [37]:
t_statistic, p_value = stats.ttest_rel(before_add, after_add, alternative = 'less')
print('T-statistic : ', t_statistic)
print('p-value : ', p_value)

T-statistic :  -12.09070525287017
p-value :  3.168333502287889e-11

In [38]:
if p_value < 0.05:
    print('Reject null hypothesis')
else:
    print('Accept null hypothesis')

Reject null hypothesis

Here, we reject the null hypothesis . So we can conclude that  there is any increase in sales after stepping into digital marketing.

In [40]:
print(' Average sales before digital marketing =', round(data['Sales_before_digital_add(in $)'].mean(),2))
print(' Average sales after digital marketing =', round(data['Sales_After_digital_add(in $)'].mean(),2))
Difference = round(data['Sales_After_digital_add(in $)'].mean(),2) - round(data['Sales_before_digital_add(in $)'].mean(),2)
print(' Difference between sales after and before digital marketing= ', Difference)

 Average sales before digital marketing = 149239.95
 Average sales after digital marketing = 231123.73
 Difference between sales after and before digital marketing=  81883.78

# 2. The company needs to check whether there is any dependency between the features “Region” and “Manager”.

In [42]:
crosstab = pd.crosstab(data.Region, data.Manager)
crosstab

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [43]:
crosstab_margins = pd.crosstab(data.Region, data.Manager, margins=True)
crosstab_margins

Manager     Manager - A  Manager - B  Manager - C  All
Region
Region - A            4            3            3   10
Region - B            4            1            2    7
Region - C            1            3            1    5
All                   9            7            6   22

In [44]:
Xtest_statistic, p_value, dof, exp_value = stats.chi2_contingency(crosstab)

In [45]:
print('Chi-square test statistic is ', Xtest_statistic)
print('p-value is ', p_value)
print('Degrees of freedom is  ', dof)
print('Expected values are: ', exp_value)

Chi-square test statistic is  3.050566893424036
p-value is  0.5493991051158094
Degrees of freedom is   4
Expected values are:  [[4.09090909 3.18181818 2.72727273]
 [2.86363636 2.22727273 1.90909091]
 [2.04545455 1.59090909 1.36363636]]

In [46]:
if p_value < 0.05:
    print('Reject null hypothesis')
else:
    print('Accept null hypothesis')

Accept null hypothesis

Here,we accept null hypothesis.So we can conclude that there is no  dependency between the features “Region” and “Manager”.